<h1>Create an account</h1>

<form action="<%= users_url %>" method="POST">
  <%= insert_authenticity_token %>
  <label for="user_name">User Name:</label>
  <input id="user_name"
         type="string"
         value="<%= @user.user_name %>"
         name=user[user_name]>

  <label for="password">Password:</label>
  <input id="password"
         type="password"
         value="<%= @user.password %>"
         name="user[password]">
  <button>SIGN UP</button>
</form>
